* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

html,
body {
    margin: 0;
    padding: 0
}

body {
    color: #222;
    font-family: 'Open Sans', sans-serif, Helvetica, Arial, sans-serif;
    font-weight: 300
}

h1,
h2,
h3,
p,
pre,
ul {
    margin: 0;
    padding: 0
}

h1 {
    font-size: 48px;
    line-height: 1;
    margin-bottom: 1em;
    font-weight: 700;
    text-align: center !important
}

h2 {
    font-size: 24px;
    line-height: 1;
    margin-bottom: 1em
}

h3 {
    font-size: 16px;
    line-height: 1;
    margin-bottom: 1em
}

p,
pre,
ul {
    margin-bottom: .5em
}

pre {
    background: #fefefe;
    border: 1px solid #dedede;
    overflow-x: auto;
    padding: 2em
}

#pollution-iframe {
    width: 100%;
    max-width: 100%
}

#custom_piechart {
    width: 800px;
    height: 500px
}

ul {
    margin-left: 1em
}

#nav {
    list-style: none;
    position: fixed;
    top: 0;
    right: 0;
    background: #000e0d;
    height: 100%;
    padding-top: 30px;
    width: 10%;
    max-width: 77px
}

#nav li {
    margin-bottom: 2px
}

#nav a {
    color: #666;
    display: block;
    font-size: 12px;
    padding: 0;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto
}

#nav .current a,
#nav .dropdown a:hover {
    background: #0ff;
    color: #ededed
}

#container {
    margin: 0 auto;
    width: 100%
}

.btn-design {
    font-size: 22px;
    padding: 4px;
    font-weight: bold;
    color: white;
    margin-left: 10px
}

.dropbtn:before {
    position: relative;
    top: 10px
}

.dropbtn {
    background-color: #4caf50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: 0;
    cursor: pointer
}

.dropdown {
    position: relative;
    display: block;
    margin: 0 auto
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 180px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 50px;
    top: 0;
    padding: 10px;
    font-size: 12px;
    top: -40px
}

.dropdown-content a {
    color: blue;
    padding: 12px 16px;
    text-decoration: none;
    display: block
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41
}

.mainnav {
    right: 0;
    top: 20px;
    position: fixed
}

div.vertical-line {
    width: 1px;
    background-color: white;
    text-align: center;
    margin: 0 auto;
    height: 20px
}

.btn {
    display: block;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 1px solid white
}

a.homeicon {
    background-image: url(image/Home.png);
    background-size: 100%;
    height: 32px;
    background-repeat: no-repeat;
    width: 32px;
    font-size: 0;
    z-index: 1000000
}

#nav-home {
    font-size: 0 !important;
    margin-bottom: 20px !important
}

.pintotop {
    background-image: url(image/scroll_icon.png) !important;
    margin-top: 20px !important;
    font-size: 0 !important
}

.scroll {
    position: fixed;
    bottom: 0;
    left: 1%;
    z-index: 9999999
}

.up {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg)
}

.down {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg)
}

.section {
    min-height: 60vh;
    padding: 0
}

#heading-list {
    background: rgba(0, 0, 0, 0.65)
}

.section p:last-child {
    margin-bottom: 0
}

#chapter3 {
    background: url('image/gradient.jpg');
    background-size: cover
}

#chapter5 {
    background: url('image/gradient.jpg');
    background-size: cover
}

#chapter6 {
    background: url('image/gradient.jpg');
    background-size: cover
}

#chapter8 {
    background: url('image/gradient.jpg');
    background-size: cover
}

#chapter0 {
    background: url('image/gradient.jpg');
    background-size: cover
}

.gradient-overlay {
    width: 100%;
    max-width: 80%;
    background: linear-gradient(to bottom right, #000 20%, transparent);
    background: rgba(0, 0, 0, 0.50);
    background: -webkit-linear-gradient(left, #000 20%, transparent);
    background: -o-linear-gradient(right, #000 20%, transparent);
    background: -moz-linear-gradient(right, #000 20%, transparent);
    background: linear-gradient(to right, #000 20%, transparent);
    height: 100%
}

.gradient-overlay-small {
    width: 40%;
    max-width: 80%;
    background: linear-gradient(to bottom right, #000 20%, transparent);
    background: rgba(0, 0, 0, 0.50);
    background: -webkit-linear-gradient(left, #000 20%, transparent);
    background: -o-linear-gradient(right, #000 20%, transparent);
    background: -moz-linear-gradient(right, #000 20%, transparent);
    background: linear-gradient(to right, #000 20%, transparent);
    height: 100%
}

.text-container {
    width: 100%;
    max-width: 650px;
    padding-right: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px
}

.sub-text {
    max-width: 100%;
    padding: 2px 0;
    color: #fff;
    font-size: 22px;
    line-height: 28px
}

.focus-text {
    font-size: 26px
}

.exp-text {
    color: #0ff;
    font-size: 26px;
    font-weight: bold
}

.heading-to {
    display: none
}

.garments_mobile {
    display: none
}

.heading,
.text-container {
    text-align: center
}

.heading {
    color: white
}

* {
    box-sizing: border-box
}

.video-background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -99
}

.video-foreground,
.video-background iframe {
    position: absolute;
    width: 100%;
    height: 100%
}

#vidtop-content {
    top: 0;
    color: #fff
}

@mediamin-aspect-ratio: 16/9 {
    .video-foreground {
        height: 300%;
        top: -100%
    }
}

@mediamax-aspect-ratio: 16/9 {
    .video-foreground {
        width: 300%;
        left: -100%
    }
}

@media all and (max-width:600px) {
    .vid-info {
        width: 50%;
        padding: .5rem
    }
    .vid-info h1 {
        margin-bottom: .2rem
    }
}

@media all and (max-width:500px) {
    .vid-info .acronym {
        display: none
    }
}

.blank-space {
    height: 300px;
    clear: both
}

.blank-space-small {
    height: 115px;
    clear: both
}

.blank-space-big {
    height: 400px;
    clear: both
}

.smalltext {
    color: #fff;
    font-size: 12px;
    text-align: center
}

#pollution-iframe-mb {
    display: none
}

.highlight {
    color: #0ff;
    transition: all .2s ease-in-out
}

.highlight:focus,
.highlight:hover,
.highlight2:focus,
.highlight2:hover {
    color: white;
    transform: scale(1.1);
    font-size: 36px;
    transition: all .1s ease-in-out
}

.highlight2 {
    color: #0ff !important
}

.highlight3 {
    color: green !important
}

.highlitertext {
    font-size: 32px;
    line-height: 46px;
    color: white;
    padding: 15px 0;
    margin: 50px 0;
    border-bottom: 1px dashed #fff;
    border-top: 1px dashed #fff
}

#gap {
    height: 90px
}

.creditbg {
    background-image: url(image/REF.jpg);
    width: 100%;
    height: 100%;
    min-height: 900px;
    background-size: 100%;
    background-repeat: no-repeat
}

.credit-content {
    padding-left: 100px
}

.credit-content h2 {
    text-align: left !important;
    color: white
}

.credit-lbl {
    font-weight: bold;
    color: black; 
}
 

.creditlines {
    text-align: left;
    border-left: 2px solid #fff;
    position: absolute;
    margin-top: 10px;
    padding-left: 15px;
    font-size: 20px;
    line-height: 24px;
}
.creditlines a, .heading-credits p, .creditlines  p a{
	color: black;
	font-size: 20px;
	line-height: 24px;
	    text-decoration: none;
}
.creditlines a:hover{
	color: #fff; 
	text-decoration: underline;
}
#share-icon {
    float: left;

}
 
.credit-column{
	float: left;
}
.margin-left20{
	margin-left: 20px;
}
@media screen and (min-width:1300px) and (max-width:1690px) {
    .creditbg {
        min-height: 750px
    }
}

@media screen and (min-width:1100px) and (max-width:1299px) {
    .sub-text {
        max-width: 85% !important
    }
    .creditbg {
        min-height: 698px
    }
    .creditlines {
        margin-top: -6px;
        font-size: 14px;
        line-height: 17px
    }
    .heading {
        color: white;
        margin-right: 60px !important
    }
    #iframe23 {
        position: absolute;
        width: 41%;
        height: 40%;
        right: 142px;
        margin-top: 10px
    }
    #heading_nine_one {
        margin-top: 103px !important
    }
}

@media only screen and (max-width :1024px) {
	.credit-column{
		float: none;
	}
	.margin-left20{
		margin-left: 0px;
	}
    .creditbg {
        background-size: auto;
        background-repeat: repeat-y;
        min-height: 600px
    }
    .creditlines {
        position: relative;
        margin-top: 20px;
        margin-left: 10px;
        padding-left: 20px
    }
    .scroll {
        display: none
    }
    #tableauPlaceholder .tableauViz {
        width: 100% !important;
        max-width: 400px !important
    }
    .mobiletext {
        padding: 25px;
        color: white
    }
    .mobileimg {
        float: left;
        padding: 10px;
        min-height: 30px
    }
    .gradient-overlay {
        width: 93%;
        max-width: 93%
    }
    .text-container {
        width: 100%;
        max-width: 100%;
        background: rgba(0, 0, 0, 0.7);
        padding: 10px 30px 10px 20px;
        margin-left: 0
    }
    .heading-credits {
        padding: 28px
    }
    #share-icon {
        margin-top: 25px;
        float: left
    }
    #gap {
        height: 2px
    }
    .smalltext {
        display: none
    }
    .heading {
        line-height: 1;
        margin-bottom: .5em;
        font-size: 26px;
        padding: 20px
    }
    .garments_mobile h3 {
        font-size: 16px
    }
    #home {
        background: url('image/water_garments_home.jpg');
        background-size: cover
    }
    #chapter1 {
        background: url('image/water_garments_1.jpg');
        background-size: cover
    }
    #chapter2 {
        background: url('image/water_garments_3.jpg');
        background-size: cover
    }
    #chapter4 {
        background: url('image/water_more _pollution.jpg');
        background-size: cover
    }
    #chapter7 {
        background: url('image/water_more _pollution.jpg');
        background-size: cover
    }
    #chapter8 {
        background: url('image/gradient.jpg');
        background-size: cover;
        display: block !important
    }
    .blank-space-big {
        display: none
    }
    .buttons {
        display: none
    }
    .blank-space {
        display: none
    }
    #heading_two {
        font-size: 18px
    }
    #heading-list {
        line-height: 17px;
        background: rgba(0, 0, 0, 0.65)
    }
    #iframe1 {
        padding: 3px;
        bottom: 10px
    }
    .sub-text {
        font-size: 16px;
        max-width: 100%;
        line-height: 18px
    }
    #heading_one {
        display: none
    }
    .heading-to {
        display: block
    }
    .garments_desktop {
        display: none
    }
    .garments_mobile {
        display: block
    }
    #custom_piechart {
        width: 100%;
        max-width: 100%;
        height: auto
    }
    #iframe2 {
        display: none
    }
    #viz1505283466034 {
        display: block !important;
        width: 100% !important;
        max-width: 100% !important;
        height: 700px !important;
        overflow: auto !important;
        margin: 0 !important;
        padding: 0 !important;
        margin-left: 0
    }
    #iframe21,
    #iframe22,
    #iframe23 {
        display: none
    }
}

@media only screen and (min-width :1024px) {
    #iframe1 {
        display: none
    }
}

.buttons {
    position: fixed;
    right: 0;
    bottom: 0
}

.icon {
    width: 60px;
    height: 60px;
    position: relative;
    float: left;
    border-radius: 200px;
    cursor: pointer
}

.playicon {
    position: absolute;
    border-left: 32px solid #0ff;
    border-top: 18px solid transparent;
    border-bottom: 11px dashed transparent;
    right: -44px;
    bottom: 63px
}

.playicon:hover {
    border-left: 32px solid #eaf3f3;
    -webkit-transition: all .4s ease;
    transition: all .4s ease
}

.pauseicon {
    position: absolute;
    margin-top: 13px;
    margin-left: 12px;
    border-left: 13px solid #0ff;
    border-right: 13px solid #0ff;
    width: 10px;
    height: 26px
}

.pauseicon:hover {
    border-left: 13px solid #eaf3f3;
    border-right: 13px solid #eaf3f3;
    -webkit-transition: all .4s ease;
    transition: all .4s ease
}

#charted-5289991 {
    border: 0 !important;
    overflow: hidden
}

#imageid3,
#imageid4,
#imageid5,
#imageid6,
#imageid7,
#imageid8 {
    display: none;
    float: left;
    min-height: 100px
}

#heading_three,
#heading_four,
#heading_five,
#heading_six,
#heading_seven,
#heading_eight {
    display: none;
    padding: 45px 0;
    color: white;
    font-size: 20px;
    border-radius: 5px
}

.headingitems:hover {
    opacity: 1;
    -webkit-transition: all .7s ease;
    transition: all .7s ease
}

#heading_nine,
#heading_ten {
    padding: 15px 0
}

#imageid9,
#imageid10 {
    float: left;
    padding: 10px;
    min-height: 100px
}

#iframe21 {
    position: absolute;
    width: 45%;
    height: 55%;
    right: 120px;
    margin-top: -72px
}

#iframe22 {
    position: absolute;
    width: 40%;
    height: 50%;
    right: 180px;
    margin-top: -216px
}

#iframe23 {
    position: absolute;
    width: 41%;
    height: 40%;
    right: 142px;
    margin-top: 10px
}

#nav-content-img {
    width: 150px
}